
/* Auto layout */
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 351px 0px 358px;
  gap: 120px;

  position: absolute;
  width: 1920px;
  height: 110px;
  left: 0px;
  top: 0px;
}
